$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

$white: #ffffff;
$secondary-white: #EEF2F5;
$black: #000000;
$blue: blue;
$grey: #383c3f;
$light-blue: rgba($color: #adc3dc, $alpha: 0.3);
$arrow-color: rgb(123, 188, 237);
$second-grey: #aaa;
$light-grey: #f8f9fa;
$dark-red: #e63946;

$font-patua: "Patua One", serif;
$font-noto-serif: "Noto Serif", serif;
$font-roboto: "Roboto", sans-serif;

$tale: teal;
$text: #64748b;
$dark: #0f172a;
$light: #f4fdfd;
$border: #dbe4e6;
$primary: #14b8a6;
$icon-color: #16a085;
$care : #1f2937;